@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Tienne:wght@700&display=swap');

* {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* paleta de cores */
.verde-dorm {
    color: #417163;
}

.bege-dorm {
    color: #F0DBB1;
}

.carbono-dorm {
    color: #3D3A3A;
}

.neve-dorm {
    color: #F3F2F2;
}

.cinza-dorm {
    color: #8D8A8A;
}

.roxo-dorm {
    color: #785385
}

/*-----------------------*/


main {
    margin: 20px 80px 20px 80px;

}

.productinfo {
    display: flex;
    justify-content: center;
}

.productinfo img{
    width: 278px;
    height: 388px;
    margin-right: 10px;
}

.infos {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 320px;
}

.description {
    word-wrap: normal;
}

.price {
    margin-top: 20px;
}

.submit-button {
    outline: none;
}

.to-btn {

    padding: 10px 25px;
    border: 2px solid #000;
    background: transparent;
    cursor: pointer;
    transition: all 0.3s ease;

}

.submit-button:hover {
    box-shadow:
        -7px -7px 20px 0px #fff9,
        -4px -4px 5px 0px #fff9,
        7px 7px 20px 0px #0002,
        4px 4px 5px 0px #0001;
}