@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Tienne:wght@700&display=swap');

* {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* paleta de cores */
.verde-dorm {
    color: #417163;
}
.bege-dorm {
    color: #F0DBB1;
}
.carbono-dorm {
    color: #3D3A3A;
}
.neve-dorm {
    color: #F3F2F2;
}
.cinza-dorm {
    color: #8D8A8A;
}
.roxo-dorm {
    color: #785385
}

/*-----------------------*/

main {
    margin: 0 80px 0 80px;
    padding: 0;
    box-sizing: border-box;
    display: flex;
   
}
.product-area{
    display: flex; 
    justify-content: space-around;
    font-family: "Roboto", cursive;
    max-width: 1360px;
    flex-wrap: wrap;
}

.card-product {
    position: relative;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 20px 0 20px 0;
    padding: 0 20px 0px 20px;
}

.card-product img {
    height: 380px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    border-radius: 6px;
}

.card-product a {
    color: #000;
    text-decoration: none;
}

.banner{
    width: 100%;
    height: 380px;
    background-image: url('../images/bannerMan.png');
    background-repeat: no-repeat;
    background-size: cover;
}

.banner div{
    position: relative;
    top: 70%;
    color: #785385;
    width: 324px;
    height: 61px;
    font-size: 22px;
    background: rgba(255, 255, 255, 0.429);
    text-align: center;
    border-radius: 33.5px;
    margin: 0 0 0 80px;
    
}

.products-title{
    margin-left: 80px;
    margin-top: 20px;
    margin-bottom: 120px;
}