@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Tienne:wght@700&display=swap');

*{
    font-family: 'Roboto', sans-serif;
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

/* paleta de cores */
.verde-dorm { color: #417163; }
.bege-dorm { color: #F0DBB1; }
.carbono-dorm { color: #3D3A3A; }
.neve-dorm { color: #F3F2F2; }
.cinza-dorm { color: #8D8A8A; }
.roxo-dorm { color: #785385}
/*-----------------------*/

header {
    width: 100%;
    height: 100px;
    display: flex;
    background-color: #F0DBB1;
    justify-content: space-between;
    align-items: center;
    
}
.left-header{
    display: flex;
    width: 570px;
    height: 92px;
    margin-left: 80px;
}

.logo {
    width: 121px;
    margin-right: auto;
}
.nav-header{
    display: flex;
    width: 381px;
    justify-content: center;
}

.nav-links{
    list-style-type: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav-links li a{
    text-decoration: none;
    font-size: 22px;
    color: #3D3A3A;
}
.nav-links li:first-child a{
    color:#417163
}

.nav-links li:not(:last-child){
    margin-right: 38px;
}

.banner {
    width: 100%;
    height: 680px;
    background-image: url('../images/banner.png');
    background-size: cover;
    background-repeat: no-repeat;   
}

.account{
    width: 278px;
    margin-right: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.account a{
    text-decoration: none;
    font-size: 22px;
    color: #3D3A3A;
}



.container-banner{
    position: relative;
    top: 50%;
    margin-left: 80px;
}

.phrase-banner{
    font-size: 56px;
    font-family: 'Tienne', serif;
    color: #785385;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    margin-bottom: 15px;
}

.button-banner{
    width: 352px;
    height: 82px;
    text-transform: uppercase;
    border-radius: 15px;
    font-family: 'Roboto';
    color: #785385;
    font-size: 30px;
    border: none;
    cursor: pointer;
}

.button-banner:hover{
    transition: 1s;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.main-1{
    display: flex;
    justify-content: space-between;
    margin-left: 80px;
    margin-right: 80px;
    margin-top: 55px;
    margin: 55px 80px 55px 80px;
}

.main-1 img{
    margin-right: 85px ;
}

.main-1 h2{
    font-family: 'Tienne', serif;
    font-size: 48px;
    margin-bottom: 85px;
}

.main-1 p{
    font-family: 'Roboto';
    font-size: 17px;
    margin-bottom: 35px;
}

.main-1 button{
    width: 400px;
    height: 47px;
    background: #fff;
    font-size: 17px;
    border-width: 3px;
    cursor: pointer;
}

.main-1 button:hover{
    transition: 1s;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.categories{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #F3F2F2;
}

.categories h3{
    margin-top: 55px;
    margin-bottom: 60px;
    font-family: 'Tienne', serif;
    font-size: 30px;
}
.categories article{
    display: flex;
    justify-content: space-around;
    width: 100%;
    margin: 35px 80px 20px 80px;
}

.categories p{
    font-family: 'Tienne', serif;
}

.card-1{
    margin: 0 0 0 80px;
}
.card-4{
    margin: 0 80px 0 0
}

footer{
    background-color:#8D8A8A;
    padding-top: 40px;
    
}

footer fieldset{
    display: flex;
    margin: 0 80px 0 80px;
    justify-content: space-around;
    padding: 11px 25px;
    border-radius: 23.5px;
    border-color: #F0DBB1;
    align-items: center;
}

footer fieldset p{
    font-size: 20px;
    color: #fff;
}

footer fieldset h5{
    font-weight: bold;
    color: #F0DBB1;
    font-size: 24px;
}

footer #email{
    width: 290px;
    height: 28px;
}

footer button{
    width: 163px;
    border-radius: 12.5px;
    height: 25px;
    font-size: 18px;
    font-weight: bold;
    text-transform: uppercase;
    background-color: #F0DBB1;
    border: none;
}

.footer-bottom{
    display: flex;
    margin: 80px 0px 0px 80px;
}

.footer-bottom h5{
    color: #F0DBB1;
    font-size: 24px;
}

.footer-bottom ul{
    margin-right: 40px;
}

.footer-bottom li{
    color: #fff;
}

.payment-methods{
    display: flex;
    align-items: center;
    margin: 30px 80px 0 80px;
    color: #F0DBB1;
    font-size: 24px;
    justify-content: space-between;
}
.payment-methods div{
    display: flex;

}

.payment-methods h5{
    margin-right: 10px;
}
