* {
    margin:0;
    padding: 0;
}

/* paleta de cores */
.verde-dorm { color: #417163; }
.bege-dorm { color: #F0DBB1; }
.carbono-dorm { color: #3D3A3A; }
.neve-dorm { color: #F3F2F2; }
.cinza-dorm { color: #8D8A8A; }
/*-----------------------*/
