<!DOCTYPE html>
<html lang="en">
<%- include('partials/head', {title: "Detalhes"}) %>

<body>
    <%- include('partials/header') %>
    <main>
        <P>...</P>
    </main>
    <%- include('partials/footer') %>
</body>

</html>