<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DevNap - Dê um cochilo</title>
    <link rel="stylesheet" href="/public/css/style.css" />
</head>
<body>
    <header>
        <img class="logo" src="/public/images/logo.png" alt="Logo DevNap">
        <nav>
            <ul class="nav_links">
                <li><a href="#">Novos Produtos</a></li>
                <li><a href="#">Mulher</a></li>
                <li><a href="#">Homem</a></li>
            </ul>
        </nav>
        <div class="account">
            <h4>Minha Conta</h4>
            <img src="/public/images/lupa.png" alt="Busca">
            <img src="/public/images/wishlist.png" alt="Lista de desejo">
            <img src="/public/images/carrinho.png" alt="Carrinho de compras">
        </div>
    </header>
    <main>
        <P>DETALHES PRODUTOS</P>
    </main>
    <footer>
        <div class="discount">
            <h5>GANHE 15% OFF</h5>
            <h6>NA PRIMEIRA COMPRA</h6>
            <form>
                <label for="email"></label>
                <input type="email" id="email" name="email" placeholder="Digite seu email">
                <button type="submit">Masculino</button>
                <button type="submit">Feminino</button>
            </form>
        </div>
        <section class="footer-bottom">
            <div class="help-list">
                <h5>AJUDA</h5>
                <ul>
                    <li>Dúvidas frequentes</li>
                    <li>SAC</li>
                    <li>Contato</li>
                </ul>
            </div>
            <div class="about-us">
                <h5>SOBRE NÓS</h5>
                <ul>
                    <li>Quem somos</li>
                    <li>Política de privacidade</li>
                    <li>Termos de uso</li>
                </ul>
            </div>
        </section>
        <div class="payment-methods">
            <h5>FORMAS DE PAGAMENTO</h5>
            <img src="/public/images/card1.png" alt="Cartão de crédito Mastercard">
            <img src="/public/images/card2.png" alt="Cartão de crédito Visa">
            <img class="logo-footer" src="/public/images/logoBranco.png" alt="Logo DevNap contraste preto e branco">
        </div>
    </footer>
</body>
</html>