<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DevNap - Dê um cochilo</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
</head>

<body>
    <header>
        <img class="logo" src="/public/images/logo.png" alt="Logo DevNap">
        <nav>
            <ul class="nav_links">
                <li><a href="#">Novos Produtos</a></li>
                <li><a href="#">Mulher</a></li>
                <li><a href="#">Homem</a></li>
            </ul>
        </nav>
        <div class="account">
            <h4>Minha Conta</h4>
            <img src="/public/images/lupa.png" alt="Busca">
            <img src="/public/images/wishlist.png" alt="Lista de desejo">
            <img src="/public/images/carrinho.png" alt="Carrinho de compras">
        </div>
    </header>


</body>

</html>