<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DevNap - Dê um cochilo</title>
    <link rel="stylesheet" href="/css/style.css"/>
</head>

<body>

    
    <%- include('partials/header.ejs') %> 


    <main>
        <section class="banner">
            <div class="container-banner">
                <h1 class="phrase-banner">Dê um cochilo.</h1>
                <button class="button-banner" name="button">Compre agora</button>
            </div>
        </section>
        <section class="main-container">
            <article class="main-1">
                <img src="/images/tendencias.png" alt="Mulher de pijama rosa">
                <div>
                    <h2>Tendências<br>em estilo de vida</h2>
                    <p>Oferecemos aos clientes um estilo de vida de lazer e facilidade para despertar<br>mais alegria em seu doce lar. Convidando mais prazer para o seu espaço e<br>cuidando de você de todas
                    as formas possíveis, de dia ou de noite.</p>
                    <button name="button">COMPRE EM CASA</button>
                </div>
            </article>
        </section>
        <section class="categories">
            <h3>Categorias</h3>
            <article>
                <div class="card-1">
                    <img src="/images/IMG categoria 1.png" alt="Conjunto cashmere marrom">
                    <a href="#">Malhas</a>
                </div>
                <div class="card-2">
                    <img src="/images/IMG categoria 2.png" alt="Pijama rosa claro">
                    <a href="#">Para dormir</a>
                </div>
                <div class="card-3">
                    <img src="/images/IMG categoria 3.png" alt="Vestido médio amarelo sunshine ">
                    <a href="#">Favoritos</a>
                </div>
                <div class="card-4">
                    <img src="/images/IMG categoria 4.png" alt="Conjunto de seda preto">
                    <a href="#">Apenas vestir</a>
                </div>
            </article>
        </section>
    </main>

    <%- include('partials/footer.ejs')  %> 

</body>

</html>