<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DevNap - Dê um cochilo</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
</head>

<body>
    <header>
        <img class="logo" src="/public/images/logo.png" alt="Logo DevNap">
        <nav>
            <ul class="nav_links">
                <li><a href="#">Novos Produtos</a></li>
                <li><a href="#">Mulher</a></li>
                <li><a href="#">Homem</a></li>
            </ul>
        </nav>
        <div class="account">
            <h4>Minha Conta</h4>
            <img src="/public/images/lupa.png" alt="Busca">
            <img src="/public/images/wishlist.png" alt="Lista de desejo">
            <img src="/public/images/carrinho.png" alt="Carrinho de compras">
        </div>
    </header>
    <main>
        <section class="banner">
            <h1>Dê um cochilo</h1>
            <button name="button">Compre agora"</button>
        </section>
        <section class="main-container">
            <article class="main-1">
                <img src="/public/images/tendencias.png">
                <h2>Tendências em estilo de vida</h2>
                <p>Oferecemos aos clientes um estilo de vida de lazer e facilidade para despertar
                    mais alegria em seu doce lar. Convidando mais prazer para o seu espaço e cuidando de você de todas as formas possíveis, de dia ou de noite.</p>
                    <button name="button">COMPRE EM CASA"</button>
            </article>
        </section>
    </main>


</body>

</html>