<!DOCTYPE html>
<html lang="en">
<%- include('partials/head', {title: "Produtos"}) %>

<body>
    <%- include('partials/header.ejs') %>
    <main>
        <P>PRODUTOS</P>
    </main>
    <%- include('partials/footer.ejs') %>
</body>

</html>