<html>
    <%- include('partials/head') %>
    
    <body>
        <%- include('partials/header') %>


        <main>
            <h1>Criação de Produto</h1>

            <form action=""></form>
        </main>







        <%- include('partials/footer') %>
    </body>
</html>