<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>DevNap - Dê um cochilo</title>
        <link rel="stylesheet" href="/css/cart.css"/>
        <link rel="stylesheet" href="/css/headerfooter.css">
    </head>

<body>
    <%- include('partials/header') %>


    <main>
        <section class="checkout">
            <h2>CARRINHO</h2>
            <img class="arrow-right" src="/images/arrow-right.png">
            <h2>CHECKOUT</h2>
            <img class="arrow-right" src="/images/arrow-right.png">
            <h2>FINALIZAR</h2>
        </section>
        <section class="add-itens">
           
        </section>
    </main>


    <%- include('partials/footer') %>
</body>

</html>