<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>DevNap - Dê um cochilo</title>
        <link rel="stylesheet" href="/css/headerfooter.css">
        <link rel="stylesheet" href="/css/userpage.css">
    </head>

<body>
    <%- include('partials/header') %>
    <main>
        <h2 class="myaccount">MINHA CONTA</h2>
        <section class="account-infos">
            
            <div class="history">
                <a class='photo' href="#"><img src="/images/camera-change.png" alt="Câmera"></a>
                <div class="hello-user">
                    <h3>Olá <%= userSession.name %>
                        
                    </h3>
                    <h6>
                        <%= userSession.email %>
                    </h6>
                </div>
            </div>
            
        </section>
        <h1>HISTÓRICO DE COMPRAS</h1>
                <h3>Consulte aqui as informações do seu pedido</h3>

<div class="history-data">
    <p>info aqui</p>
</div>
                <article class="customer-service">
                    <h4>ATENDIMENTO AO CLIENTE</h4>
                    <H3>SAC (11)99999-9999</H3>
                    <h3>Email: usuario@devnap.com.br</h3>
                    <h4>CHAT</h4>
                    <a href="#">
                        <img src="/images/iconChat.png" alt="Chat">
                    </a>
                </article>
    </main>
    <%- include('partials/footer') %>
</body>

</html>