<!DOCTYPE html>
<html lang="en">
<%- include('partials/head', {title: "Painel do usuário"}) %>

<body>
    <%- include('partials/header') %>
    <main>
        <section class="account">
            <h2>MINHA CONTA</h2>
            <div class="puchases_historic">
                <a href="#"><img src="/public/images/camera-change.png" alt="Câmera"></a>
                <div class="hello-user">
                    <h3>Olá
                        <!--colocar código para identificar usuário -->
                    </h3>
                    <img src="/public/images/icon-mail.png" alt="Ícone email">
                    <h6>
                        <!-- código para mostrar email -->
                    </h6>
                </div>
                <h1>HISTÓRICO DE COMPRAS</h1>
                <h3>Consulte aqui as informações do seu pedido</h3>
            </div>
            <div class="shopping_information">
                <ul>
                    <li>Nº Pedido</li>
                    <li>Data</li>
                    <li>Pagamento</li>
                    <li>Status</li>
                    <li>NFe</li>
                </ul>
            </div>
            <nav>
                <ul>
                    <li>
                        <a href="#">
                            <img src="/public/images/user.png">Meus dados</li>
                    </a>
                    <li>
                        <a href="#">
                            <img src="/public/images/carrinhoAdd.png">Histórico de compras</li>
                    </a>
                    <li>
                        <a href="#">
                            <img src="/public/images/money.png">Créditos</li>
                    </a>
                    <li>
                        <a href="#">
                            <img src="/public/images/creditCard.png">Pagamentos</li>
                    </a>
                </ul>
            </nav>
            <article class="customer-service">
                <h4>ATENDIMENTO AO CLIENTE</h4>
                <H3>SAC (11)99999-9999</H3>
                <h3>Email: usuario@devnap.com.br</h3>
                <h4>CHAT</h4>
                <a href="#">
                    <img src="/public/images/iconChat.png" alt="Chat">
                </a>
            </article>
        </section>

    </main>
    <%- include('partials/footer') %>
</body>

</html>