<footer>
    <div class="discount">
        <form>
            <fieldset>
                <h5>GANHE 15% OFF</h5>
                <p>NA PRIMEIRA COMPRA!</p>
                <label for="email"></label>
                <input type="email" id="email" name="email" placeholder="Digite seu email">
                <button type="submit">Masculino</button>
                <button type="submit">Feminino</button>
            </fieldset>
        </form>
    </div>
    <section class="footer-bottom">
        <div class="help-list">
            <h5>AJUDA</h5>
            <ul>
                <li><a href="#">Dúvidas frequentes</a></li>
                <li><a href="#">SAC</a></li>
                <li><a href="#">Contato</a></li>
            </ul>
        </div>
        <div class="about-us">
            <h5>SOBRE NÓS</h5>
            <ul>
                <li><a href="#">Quem somos</a></li>
                <li><a href="#">Política de privacidade</a></li>
                <li><a href="#">Termos de uso</a></li>
            </ul>
        </div>
    </section>
    <div class="payment-methods">
        <div>
            <h5>FORMAS DE PAGAMENTO:</h5>
            <img src="/images/card1.png" alt="Cartão de crédito Mastercard">
            <img src="/images/card2.png" alt="Cartão de crédito Visa">
        </div>
    </div>
</footer>