<header>
    <img class="logo" src="/images/logo.png" alt="Logo DevNap">
    <nav>
        <ul class="nav_links">
            <li><a href="#">Novos Produtos</a></li>
            <li><a href="#">Mulher</a></li>
            <li><a href="#">Homem</a></li>
        </ul>
    </nav>
    <div class="account">
        <h4>Minha Conta</h4>
        <img src="/images/lupa.png" alt="Busca">
        <img src="/images/wishlist.png" alt="Lista de desejo">
        <img src="/images/carrinho.png" alt="Carrinho de compras">
    </div>
</header>